* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --BGMain: #264653;
    --BGLighter: #2A9D8F;
    --BGlight: #E9C46A;
    --BGDark: #F4A261;
    --BGDarker: #E76F51;
}

header {
    display: block;
    text-align: center;
    padding: 2%;
}

h1 {
    padding: 2%;
}

.content {
    display: block;
    /* background-image: linear-gradient(red, blue); */
    /* width: 90%; */
    padding: 2%;
    margin: 2%;
}

.snippet {
    background-image: linear-gradient(#E76F51, #F4A261);
}

.card {
    max-width: 25%;
    border: #264653 dotted 5px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    /* margin: 20px; */
}

.card_header {
    position: relative;
    top: -45px;
    left: 10%;
    /* margin-top: -40px; */
    border: #2A9D8F solid 5px;
    width: 90%;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    background-color: #264653;
}

.card_content {
    display: block;
}